<%
    var menuMap = new Map();
    menuMap.set("Index", "首页");
    menuMap.set("Tags", "标签");
    menuMap.set("Categories", "分类");
    menuMap.set("Archives", "归档");
    menuMap.set("About", "关于");
    menuMap.set("Gallery", "相册");
    menuMap.set("Contact", "留言板");
    menuMap.set("Friends", "友情链接");

    var configRoot = config.root
    configRoot = (configRoot === null || configRoot === undefined || configRoot === '/') ? '' : configRoot;
%>

<a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse"><i class="fas fa-bars"></i></a>
<ul class="right nav-menu">
  <% Object.keys(theme.menu).forEach(function(key) { %>
  <li class="hide-on-med-and-down nav-item">
    <% if(!theme.menu[key].children) { %>
    <a href="<%- url_for(theme.menu[key].url) %>" class="waves-effect waves-light">
      <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
      <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
      <% } %>
      <span><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
    </a>
    <% } else { %>
    <a href="<%- theme.menu[key].url %>" class="waves-effect waves-light">

      <% if (theme.menu[key].icon && theme.menu[key].icon.length > 0) { %>
      <i class="<%- theme.menu[key].icon %>" style="zoom: 0.6;"></i>
      <% } %>
      <span><%- (config.language === 'zh-CN' && menuMap.has(key)) ? menuMap.get(key) : key %></span>
      <i class="fas fa-chevron-down" aria-hidden="true" style="zoom: 0.6;"></i>
    </a>
    <ul class="sub-nav menus_item_child ">
      <% for(let childrenLink of theme.menu[key].children){ %>
      <li>
        <a href="<%- url_for(childrenLink.url)%>">
          <% if (childrenLink.icon && childrenLink.icon.length > 0) { %>
          <i class="<%- childrenLink.icon %>" style="margin-top: -20px; zoom: 0.6;"></i>
          <% } %>
          <span><%- childrenLink.name %></span>
        </a>
      </li>
      <% } %>
    </ul>
    <% } %>
  </li>
  <% }); %>
  <li>
    <a href="#searchModal" class="modal-trigger waves-effect waves-light">
      <i id="searchIcon" class="fas fa-search" title="<%= __('search') %>" style="zoom: 0.85;"></i>
    </a>
  </li>
  <% if (theme.darkMode.position === 'top') { %>
    <li>
      <a class="waves-effect waves-light" onclick="switchNightMode()">
        <i id="sum-moon-icon" class="fas fa-sun" style="zoom:0.65;" title="切换主题"></i>
      </a>
    </li>
  <% } %>
  <% if (theme.enableSwitchChinese) { %>
    <li> 
      <a id="translateLink" href="javascript:translatePage();">
        <i class="fas fa-language" title="简/繁体"></i>
      </a>
      
      <script type="text/javascript" src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.tw_cn) %>"></script>
      <script type="text/javascript">
          var defaultEncoding = 2; //网站编写字体是否繁体，1-繁体，2-简体
          var translateDelay = 0; //延迟时间,若不在前, 要设定延迟翻译时间, 如100表示100ms,默认为0
          var cookieDomain = "https://xmxe.github.io/blog"; //Cookie地址, 一定要设定, 通常为你的网址
          var msgToTraditionalChinese = '<i class="fas fa-language" title="简/繁体"></i>'; //此处可以更改为你想要显示的文字
          var msgToSimplifiedChinese = '<i class="fas fa-language" title="简/繁体"></i>'; //同上，但两处均不建议更改
          var translateButtonId = "translateLink"; //默认互换id
          translateInitilization();
      </script>
    </li>
  <% } %>
</ul>

<%- partial('_partial/mobile-nav') %>
